@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'square';
    src: url(../font/FORCED\ SQUARE.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #3b3b3b;
    --cor4: #737373;
    --cor5: #bcbcbc;;

    --font-padrao: Arial;
    --font-destaque: 'Bebas Neue', cursive;
    --font-square: 'square', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
}

header{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    min-height: 150px;
    padding-top: 50px;
    text-align: center;
}

header h1{
    font-family: var(--font-destaque);
    color: var(--cor1);
    text-shadow: 2px 2px 0px var(--cor3);
}

header p{
    padding-top: 30px;
    font-family: var(--font-destaque);
    color: var(--cor1);
    text-shadow: 2px 2px 0px var(--cor3);
}

nav{
    font-family: var(--font-padrao);
    font-weight: bold;
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 5px 7px var(--cor3);
}

nav a{
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
}

nav a:link{
    color: var(--cor1);
}

nav a:hover{
    color: var(--cor3);
    background-color: var(--cor5);
    transition-duration: 0.5s;
    border-radius: 5px;
}

main{
    background-color: var(--cor1);
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 7px var(--cor3);
    padding: 20px;
}

img{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

section h1{
    font-family: var(--font-square);
    color: var(--cor3);
}

section h2{
    font-family: var(--font-square);
    color: var(--cor3);
    padding-bottom: 10px;
    padding-top: 10px;
}

section h3{
    font-family: var(--font-square);
    color: var(--cor3);
    padding-bottom: 10px;
    padding-top: 10px;
}


article p{
    font-family: var(--font-padrao);
    line-height: 30px;
    color: var(--cor2);
    text-align: justify;
    padding-bottom: 10px;
    padding-top: 10px;
}

.video{
    background-color: var(--cor3);
    margin: 30px -20px 30px -20px;
    padding-bottom: 48%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article ul{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: var(--font-padrao);
    font-size: clamp(13px, 2vw, 18px);
    line-height: 30px;
}

li a{
    text-decoration: none;
    color: var(--cor2);
}

li a:hover{
    color: var(--cor3);
}

li a::after{
    content: '🔗';
}

aside{
    padding: 20px;
    margin-top: 20px;
    background-color: var(--cor4);
    color: var(--cor1);
}

aside h3{
    font-family: var(--font-square);
    margin-bottom: 10px;
    background-color: var(--cor3);
}

aside p{
    line-height: 30px;
    text-align: justify;
    font-family: var(--font-padrao);
}

aside  p a{
    text-decoration: none;
    color: var(--cor2);
}

aside ul{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(13px, 2vw, 18px);
}

aside p a:hover{
    color: var(--cor0);
}

aside a::after{
    content: '🔗';
}

footer{
    background-color: var(--cor3);
    color: var(--cor5);
    text-shadow: 2px 2px 0px var(--cor3);
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}